.partone{
  height: 64px;
background-color: white;
}

#partone{
  margin-left: 24px;
  font-family: Calibri;
  color: black;
  font-size: 18px;
}

#parttwo{

}

parttwo{
  display: flex;
  background-color: grey;
  height: 200px;
  width: 300px;
}
.img parttwo {
  width: 60%;
  margin-left: 24px;
  margin-right: 40px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.h1 .h4 parttwo {
  font-family: sans-serif;
  font-weight: bold;
}

.span parttwo {
  display: flex;
  height: 40px;
  width: 60px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
